@import "~bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    background-image: url("../public/bg_pc1.jpg");
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*body,
html {
    margin: 0px;
    padding: 0px;
    position: fixed;
    background: rgb(30,30,30);
    z-index: -1;
}*/

